/* font style  */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Common colore */
.text_primary{
    color: #FD6E0A;
}

.secondary_bg{
    background-color: #FFF8F3;
}

.dark_2{
    color: #474747;
}

.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section_p{
    font-size: 18px;
    color: #757575;
}

.btn_primery{
    background-color: #FD6E0A;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
}

/* header */



/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20px;
}

.nav_titel{
    font-weight: bold;
    font-size: 45px;
    color: black;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    
}

nav ul{
    display: flex;
    align-items: center;
}

/* *******************BANNER */
.banner {
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 230px;
}

.banner{
    background-image:url(../images/developer.png), url(../images/header_bg.png)
    
    ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


.banner_con{
    max-width: 580px;
}

.ban_greeting{
    font-weight: 600px;
    font-size: 45px;
}

.ban_title{
    font-size: 85px;
    font-weight: bold;
}

.con_btn{
    color: #FD6E0A;
    border-color: #FD6E0A;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 25px;
    border-radius: 5px;
    margin-left: 15px;
}

/* main style  */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about style  */

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about_item{
    display: flex;
    justify-content: space-between;
}

.section_p{
    color: #757575;
    font-size: 15px;
    text-align: justify;
}

.item-titel{
    font-weight: bold;
    color: #757575;
}

.item-description{
    color: #474747;
    font-size: 12px;
    font-weight: 600px;
}
        /* <!-- what I do (skill section)*********** --> */
.do{
    text-align: center;
    
}

.do h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.sec_des{
    color: #757575;
    font-size: 18px;
    
}

.skill{
    background-color: #FFFFFF;
    /* text-align: justify; */
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgb(192, 142, 142);
    border-radius: 5px;
    margin-top: 50px;
}

.skill_sec{
    margin-top: 130px;
    margin-bottom: 130px;
}

.skills_con{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.skill_des{
    font-size: 16px;
    color: #757575;
}

/* resume part css */
.resume{
    padding: 50px 50px;
    border-radius: 10px;
}

.res_titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.res_con{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.titel_first_col{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.edu_titel{
    font-size: 25px;
    font-weight: bold;
}

.institute{
    font-size: 20px;
    font-weight: 400px;
}

.edu_des{
    font-size: 16px;
}

.res_btn {
  margin: 20px auto;
  display: block;
}

/* *******.contact_con */
footer{
    padding: 130px 130px;
}

.contact_con{
    display: flex;
    gap: 100px;
}

.con_icon a img{
    margin-left: 15px;
}

.con_des{
    font-size: 16;
    text-align: justify;
}

.sec_con{
    width: 50%;
}

.from_head{
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

footer input[type = "text"], footer input[type ="email"], footer textarea{
    height: 40px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}